.ItemCount{
  display: flex;
  justify-content: center;
  flex-direction: column;


}
.ItemCount__cantidad{
  display: flex;
}
.ItemCount--contador{
  margin:  0 .5rem;
  /* font-size: 3rem; */
}
.ItemCount--cantidad{
  font-size: 2rem;
  padding: 5px;
}
.ItemCount__comprar{
  text-align: center;
}